@model instgaram.Models.User

@{
    ViewBag.Title = "Edit";
}

<br />
<h3>Edit Profile</h3>
<br />

<form method="post" action="/Porfile/Edit/@Model.Id" enctype = "multipart/form-data" >
<table>
    <tr>
        <td> <label>Frist Name</label></td>
        <td><input type="text" name="Fname" /></td>
    </tr>
    <tr>
        <td><labe>Last Name</labe></td>
        <td><input type="text" name="Lname" /></td>
    </tr>
    <tr>
        <td><label>Photo</label></td>
        <td><input type="file" name="photo" /></td>
    </tr>
    <tr>
        <td><label>Phone</label></td>
        <td><input type="text" name="Phone" /></td>
    </tr>
    <tr>
        <td> <label>Username</label></td>
        <td> <input type="text" name="username" /></td>
    </tr>

</table>
<input type="submit" value="Send" />
</form>