@model IList<instgaram.Models.User>

@{
    ViewBag.Title = "getpersons";
}

<form method="post" action="/porfile/getpersons">
    <label>name</label><input type="text" name="name" />
    <br />
    <input type="submit" value="send" />
</form>



@{
    foreach (var item in Model)
    {
        <img src="@item.Photo" height="150px" />

    }
}